/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* change the size of the jumbotron font */

.jumbotron my-3 {
color:#000000;
font-size:8px
font-weight:bold
font-family:'Shift', sans-serif;
}


/* change the backgroundcolor /*
.body {
background-color:#817d7d
}


